	<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-12 order-last order-md-first">
					<div class="copyright text-center text-md-start">
						<p class="text-center text-sm">
							Copyright&nbsp;© Reserved
						</p>
					</div>
				</div>
            </div>
		</div>
    </footer>
	<script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/Chart.min.js"></script>
    <script src="/javascripts/dynamic-pie-chart.js"></script>
    <script src="/javascripts/moment.min.js"></script>
    <script src="/javascripts/fullcalendar.js"></script>
    <script src="/javascripts/jvectormap.min.js"></script>
    <script src="/javascripts/world-merc.js"></script>
    <script src="/javascripts/polyfill.js"></script>
	<script>
		var alert = document.getElementById('alert');
		if(alert){
			window.setTimeout(()=> {
				document.getElementById("alert").style.display = 'none';
			}, 5000);
		}
	</script>
</body>
</html>